/* Switchboard */
.switchboard {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
}

.switchboard .toolbar {
		font: normal 12px/20px Arial;
		text-align: center;
		min-height: 20px;
        max-width: 410px; 
        margin: 0 auto;
        padding: 0;
        background-color: #78b428;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0 1px 3px #999;
        overflow: hidden;		
}

.switchboard .toolbar a{
	margin-right: 3px;
	color: white;
	text-decoration: none;
}
.switchboard .toolbar a:hover {
	color: yellow;
	text-decoration: none;
}